<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game City Comic Store Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminUsers.css">
</head>
<body>
    <div class="container">
        <!-- Men칰 -->
        <nav class="navbar navbar-expand-lg bg-dark shadow-sm"> 
            <a class="navbar-brand btn btn-outline-secondary text-white" href="/">Men칰 Principal</a>
            <span class="navbar-title text-white">Edit User</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white mr-2" href="/admin-users">游댗 Volver</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-12">
                <!-- <h2 class="text-center mb-4">Edit Profile</h2> -->
                <form action="/update-user/<%= user.id %>" method="POST" onsubmit="return validarFormulario()">
                     <!-- Campos de edici칩n -->
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" name="id" value="<%= user.id %>" readonly />
  </div>

  <div class="form-group">
    <label for="mail">Correo Electr칩nico</label>
    <input type="email" class="form-control" id="mail" name="mail" value="<%= user.mail %>" readonly />
  </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="<%= user.nombre %>"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido"
                            value="<%= user.apellido %>" required />
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" id="tipo" name="tipo">
                          <option value="user" <%= user.tipo === 'user' ? 'selected' : '' %>>User</option>
                          <option value="admin" <%= user.tipo === 'admin' ? 'selected' : '' %>>Admin</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input
                            type="date"
                            class="form-control"
                            id="fechaNacimiento"
                            name="fechaNacimiento"
                            value="<%= user.fecha_nac ? user.fecha_nac.toISOString().split('T')[0] : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Nueva Contrase침a</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Deja en blanco para no cambiar">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary reveal-password" type="button" onclick="mostrarContrasena('password')">
                                    <i class="fas fa-eye-slash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label for="confirmPassword">Confirmar Nueva Contrase침a</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Deja en blanco para no cambiar">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary reveal-password" type="button" onclick="mostrarContrasena('confirmPassword')">
                                    <i class="fas fa-eye-slash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="form-group">
                        <label for="telefono">Tel칠fono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono"
                            value="<%= user.telefono %>" required />
                    </div>

                    <div class="form-group">
                        <label for="direccion">Direcci칩n</label>
                        <input type="text" class="form-control" id="direccion" name="direccion"
                            value="<%= user.direccion %>" required />
                    </div>

                    <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" value="<%= user.ciudad %>"
                            required />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
                    <a href="/admin-users" type="button" class="btn btn-secondary btn-block">Cancelar</a>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS -->
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
    <script>
    // Funci칩n para validar el formulario antes de enviar
    function validarFormulario() {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            alert('Las contrase침as no coinciden. Por favor, verif칤quelas.');
            return false; // Evitar el env칤o del formulario
        }

        return true; // Continuar con el env칤o del formulario
    }
    </script>
    <script>
        // Funci칩n para mostrar/ocultar la contrase침a
        function mostrarContrasena(inputId) {
            var input = document.getElementById(inputId);
            var icon = document.querySelector(`#${inputId} + .input-group-append button i`);
    
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
    
        // Funci칩n para validar el formulario antes de enviar
        function validarFormulario() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
    
            if (password !== confirmPassword) {
                alert('Las contrase침as no coinciden. Por favor, verif칤quelas.');
                return false; // Evitar el env칤o del formulario
            }
    
            return true; // Continuar con el env칤o del formulario
        }
    </script>
</body>

</html>