<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Game City Comics Store</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <!-- <link href="css/index.css" rel="stylesheet"> -->

</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Aca iria informacion sobre Game City Comics Store como por ejemplo no se putoelquelee
              context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
              to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="text-center align-middle  mb-2"> <!-- Añadida la clase align-middle -->
          <h1 class="text-white">Tank Store - Tanques para radiadores</h1>
        </div>
        <div class="text-left align-middle"> <!-- Añadida la clase align-middle -->
          <!-- <h2 class="text-white">
            Bienvenido:
            <% if (user) { %>
              <span class="badge bg-dark">
                <%= user.nombre %>
              </span>
              <% } %>
          </h2> -->
        </div>
        <div class="text-right">
          <a type="button" class="px-3 btn btn-primary mb-2" href="/mis-colecciones">Mis colecciones</a>
          <a type="button" class="px-3 btn btn-secondary mb-2" href="/edit-profile">Editar mi perfil</a>
          <a type="button" class="px-3 btn btn-danger mb-2" href="logout"> 🏃‍♂️ Logout</a>
          <% if (user && user.tipo==='admin' ) { %>
            <a id="adminButton" type="button" class="px-3 btn btn-warning" href="/admin">ADMIN</a>
            <% } %>

        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main>

    <section class="py-1 text-center container">
      <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bold">Ultimos Ingresos</h1>
          <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
          </p>
        </div>
      </div>
    </section>

    <div class="album py-1 bg-light">
      <div class="container">


        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
          <% featuredComics.forEach(comic => { %>
            <div class="col">
              <div class="card shadow-sm">
                <img class="comic-cover" src="/uploads/<%= comic.portada %>" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="<%= comic.nombre %>">
                <div class="card-body">
                  <h5 class="card-title"><%= comic.nombre %></h5>
                  <p class="card-text">
                    <strong>Número:</strong> <%= comic.numero %><br>
                    <strong>Colección:</strong> <%= comic.coleccion %><br>
                    <strong>Costo:</strong> $<%= comic.costo %><br>
                    <strong style="font-size: 22px; color: red;">10% OFF: $</strong>
                    <span style="font-size: 22px; color: red; font-weight: bold;">
                      <%= Math.floor(comic.costo * 0.9) %>
                    </span>
                  </p>
                  <hr> <!-- Línea divisoria para separar información -->
                  <p class="card-text">
                    <%= comic.observaciones %>
                  </p>
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <div>
                      <!-- Aquí irían las observaciones -->
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="agregarAColeccion(<%= comic.id %>, '<%= comic.coleccion %>')">Agregar a colección</button>
                      <a href="/ver-comic/<%= comic.id %>" class="btn btn-sm btn-outline-secondary">Ver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
        </div>

      </div>
    </div>
    </div>



  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">&copy; 2024 Game City Comic Store, Design by A.R.I.</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
          href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>


  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var adminButton = document.getElementById('adminButton');
      if (adminButton) {
        // Ocultar el botón si el usuario no es un administrador
        adminButton.style.display = '<%= user && user.tipo !== "admin" ? "none" : "block" %>';
      }
    });
  </script>
  <script>
    function agregarAColeccion(comicId, coleccion) {
      // Envía una solicitud al backend (usando Fetch, AJAX, o cualquier método que prefieras)
      fetch('/suscribir-coleccion', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ comicId, coleccion }),
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);  // Agrega esta línea para ver la respuesta del servidor en la consola del navegador
        if (data.success) {
          alert('Suscripción exitosa');
        } else {
          alert('Error al suscribirse');
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('Error al suscribirse');
      });
    }
  </script>


</body>

</html>